/* Themify Customize Styling */
body {	
	font-family:Open Sans;	font-weight:300;
	font-size:14px;
	line-height:16px;

	color: #404040; 
}
#site-description {	display: none; 
}
#main-nav {	
	padding-top: 20px; 
}
#main-nav a {	
	font-family:Roboto Slab;	font-weight:bold;
	text-transform:capitalize; 
}
#main-nav-wrap #main-nav li:not(.themify-widget-menu) > ul, #main-nav .has-mega-sub-menu .mega-sub-menu, #main-nav .has-mega-column > .sub-menu {	background: none;
	background-color: rgba(51,51,51,0.84); 
}
#main-nav ul a, #main-nav .current_page_item ul a, #main-nav ul .current_page_item a, #main-nav .current-menu-item ul a, #main-nav ul .current-menu-item a, .fixed-header #main-nav ul a, #main-nav .has-mega-column > .sub-menu a {	
	color: #ff9933; 
}
#main-nav ul a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover, .fixed-header #main-nav ul a:hover {	
	color: #ffffff; 
}
#footer-logo {		line-height:1em;
 
}
#footer {	
	color: #ff9900; 
}
#footer, #footer-logo, .footer-nav a, .footer-text {	
	font-family:Roboto Slab;	font-weight:bold;
	text-transform:capitalize; 
}
#footer a {	
	color: #ff9900; 
}
#footer a:hover {	
	color: #757575; 
}

/* Themify Custom CSS */
.footer-text-inner {
text-transform:none;
}
.yt_container {
position: relative;
width: 100%;
height: 0;
padding-bottom: 56.25%;
}
.yt_video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen 
and (max-device-width : 375px) {
.col_align_top_extramobile {padding-top:100px;}
.col_align_top_extramobile_home {margin-top:-100px;}	.sub_column_post_1618.sub_column_1-0-2-0.module_column
{margin-left:0px;}
.sub_column_post_1618.sub_column_1-0-4-0.module_column
{margin-left:0px;}
.sub_column_post_1618.sub_column_1-0-5-0.module_column
{margin-left:0px;}
}
